
.boxMonth {
  background: #F0F8F6;
  padding: 6.250rem 0;
  text-decoration: none;
}
.boxMonth a{
  text-decoration: none;
}

.boxMonth_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 121rem;
  width: 100%;
  margin: 0 auto;
}

.boxImage {
  max-width: 37.25rem;
  max-height: 33.375rem;
  display: flex;
  position: relative;
  gap: 30px;
  width: 50%;
  z-index: 1;
}
.boxMonthDesignImage{
  position: relative;
}
.boxMonthDesignImage_elTop{
  top: -28px;
  left: 2px;
}
.boxMonthDesignImage_stuff{
  top: 172px;
  left: -220px;
}
.boxMonthDesignImage_leaf{
  top: -61px;
  left: 140px;
  z-index: -1;
}
.button h4{
  font-size: 29px;
  line-height: 29px;
}
.boxMonthDesignImage_elTop,.boxMonthDesignImage_elBotMQ,.boxMonthDesignImage_elBot,.boxMonthDesignImage_leaf,.boxMonthDesignImage_stuff{
  position: absolute;
}
.boxMonthDesignImage_elBot{
  right: -33px;
  bottom: -28px;
}
.boxMonthDesignImage_elBotMQ{
  right: 52px;
  bottom: 37px;
  display: none;
}

.boxMonthDesignImage_stuff{
  z-index: 2;
}

.boxImage_one {
  width: 50%;
}

.boxImage_one > img {
  width: 100%;
  object-fit: contain;
}

.boxMonthInfo {
  display: flex;
  flex-direction: column;
  max-width: 32.5rem;
  gap: 1.875rem;
  margin: 6.25rem;
  width: 50%;
}
.boxMonthInfo_title{
  display: flex;
  align-items: center;
}
.boxMonthInfo p {
  width: 100%;
  max-width: 32.5rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 150%;
  color: #696969;
}

.boxMonthInfo_button {
  position: relative;
  z-index: 1;
  width: 17.5rem;
  height: 4.375rem;
}
.boxMonthInfo_buttonMQ{
  display: none;
  width: 17.5rem;
  height: 3.75rem;
  padding-top: 15px;
}
@media (max-width: 1024px) {
  h2 {
    font-size: 2.1rem;
    line-height: 150%;
  }
  h4 {
    font-size: 1rem;
    line-height: 150%;
  }
  .boxMonthInfo p {
    font-size: 0.875rem;
    line-height: 1.3125rem;
  }
  .boxMonth_wrapper {
    gap: 5%;
  }
  .boxMonthInfo {
    margin: 0 20px 0 0;
  }
}
@media (max-width: 768px) {
  .boxMonthDesignImage_stuff, .boxMonthDesignImage_leaf,.boxMonthDesignImage_elTop {
    display: none;
  }
}
@media (max-width: 666px) {
  .boxImage{
    gap: 10px;
  }
  .boxMonthInfo_button{display: none;}
  .boxMonthInfo_buttonMQ{display: flex}
  .boxMonthDesignImage_elBotMQ{
    display: flex;
  }
  .boxMonthDesignImage_elBot {
    right: -16px;
    bottom: -13px;
  }
  h2,h4{
    font-family: "Advent Pro";
    font-style: normal;
    font-weight: 700;
  }
  h2{
    font-size: 1.5rem;
    line-height: 1.8125rem;
  }
  h4{
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
  p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 150%;
  }
  .boxMonth_wrapper {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .boxMonthInfo_button {
    width: 15.9375rem;
    height: 3.75rem;
  }
  .boxMonth {
    padding: 3.125rem 1rem 1.625rem;
  }
  .boxMonthInfo {
    gap: 0;
    margin: 0;
  }
  .boxMonthInfo, .boxImage {
    width: 100%;
  }
  .boxMonthInfo p {
    max-width: 16.75rem;
    text-align: center;
  }
  .boxMonthInfo {
    align-items: center;
    margin: 0 0 1.25rem;
    gap: 1.25rem;
  }
  .boxMonthInfo_title{
    flex-direction: column;
    gap: 20px;
  }

}