.commentBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0;
  position: relative;
}

.commentBlock_wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.commentSlider_swiper {
  margin: 10px;
  max-width: 625px;
}

.headingSwiper {
  display: flex;
  justify-content: space-between;
  gap: 363px;
}

.zigzagSwiper {
  height: 45px;
}

.commentSlider {
  display: flex;
  align-items: center;
  gap: 6.250rem;
}

.commentImg {
  position: relative;
}

.commentImg_zigzag, .commentImg_el14, .commentImg_el15, .commentImg_el25, .commentImg_db {
  position: absolute;
}

.commentImg_zigzag {
  right: 0;
}

.commentImg_el14 {
  bottom: -48px;
  left: 100px;
  z-index: -1;
}

.commentImg_el15 {
  left: 202px;
  bottom: 16px;
}

.commentImg_el25 {
  right: 166px;
}

.commentImg_db {
  left: 0px;
  z-index: -1;
}

.commentImg_dbMQ {
  display: none;
  position: absolute;
  left: 30px;
  top: 0px;
  z-index: -1;
}

.textSwiper {
  display: flex;
  padding-top: 1.875rem;
  position: relative;
  webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(90%, black), to(transparent));
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 90%);

}

.textSwiper_text p {
  width: 100%;
  max-width: 35.3125rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 180%;
  color: #696969;
}

.commentTitle p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #01A3A4;
}

.commentTitle {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.commentSlider_Pic {
  width: 31.75rem;
}

.commentSlider_Pic > img {
  width: 100%;
  object-fit: contain;
}

.zigzagSwiper > img {
  height: 0.5rem;
  object-fit: contain;
}


.slider2 {
  position: relative;
  width: 1330px;
  height: 466px;
  /* Чтобы во время перетаскивания слайда ничего не выделить внутри него */
  user-select: none;
  /* Чтобы запретить скролл страницы, если мы начали двигать слайдер по оси X */
  touch-action: pan-y;
}

.next img {
  pointer-events: none;
}

.prev img {
  pointer-events: none;
}

.slider2-list {
  width: 1330px;
  height: 466px;
  overflow: hidden;
}

.slider2-list.grab {
  cursor: grab;
}

.slider2-list.grabbing {
  cursor: grabbing;
}

.slider2-track {
  display: flex;
}

.slide2 {
  width: 1330px;
  height: 466px;
  /* Чтобы слайды не сжимались */
  flex-shrink: 0;
  /* Увеличиваем и центрируем цифру внутри слайда */
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.slider2-arrows {
  margin-left: 76px;
  text-align: center;
}

.next,
.prev {
  background: none;
  border: none;
  margin: 0;
  font-size: 30px;
  cursor: pointer;
}

.next.disabled,
.prev.disabled {
  opacity: .25;
  pointer-events: none;
}


.swiperPic img {
  display: none;
}

.ratingSwiper img {
  display: flex;
}


.textSwiper_text {
  display: flex;
  flex-direction: column;
  padding: 0 53px 53px 0;
  gap: 20px;
  max-height: 250px;
  overflow-y: auto;
  direction: ltr;
  scrollbar-color: #d4aa70 #e4e4e4;
  scrollbar-width: thin;
}

.textSwiper_text::-webkit-scrollbar {
  width: 5px;
}

.textSwiper_text::-webkit-scrollbar-track {
  //background-color: #e5eae9;

}

.textSwiper_line {
  position: absolute;
  width: 281px;
  height: 1px;
  right: -138px;
  top: 170px;
  background: #74E6CF;
  border-radius: 50px;
  transform: rotate(90deg);
  z-index: -1;
}

.textSwiper_text::-webkit-scrollbar-thumb {
  border-radius: 100px;
  width: 10px;
  background-image: linear-gradient(141.39deg, #74E6CF 13.88%, #C0E594 106.32%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

.swiperPic {
  display: flex;
  justify-content: space-between;
  padding-bottom: 13px;
  gap: 10px;
}

@media (max-width: 1920px) {

}

@media (max-width: 1440px) {
  .slider2, .slider2-list, .slide2 {
    width: 1000px;
  }
  .headingSwiper {
    gap: 230px;
  }

}

@media (max-width: 1024px) {
  .commentImg_el25, .commentImg_zigzag, .commentImg_el14, .commentImg_el15, .commentImg_db {
    display: none;
  }
  .slider2, .slider2-list, .slide2 {
    width: 768px;
  }
  .headingSwiper {
    gap: 100px;
  }
  .slide2 {
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .headingSwiper {
    gap: 100px;
  }
  .slide2 {
    gap: 10px;
  }
  .slider2, .slider2-list, .slide2 {
    width: 650px;
  }
  .textSwiper {
    max-width: 23rem;
  }
  .textSwiper_text p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 150%;
  }
  .commentSlider_Pic {
    width: 50%;
    height: 60%;
  }

}

@media (max-width: 666px) {
  .commentBlock {
    padding: 50px 0;
  }
  .commentSlider_Pic {
    display: none;
  }
  .slider2, .slider2-list, .slide2 {
    width: 320px;
    height: 320px;
  }
  .zigzagSwiper {
    height: 38px;
  }
  .slide2 {
    align-items: flex-start;
  }
  .zigzagSwiper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headingSwiper {
    flex-direction: column;
    justify-content: center;
    gap: 0;
  }
  .headingSwiper h5 {
    font-family: 'Advent Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
  }
  .commentTitle {
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    padding-bottom: 15px;
  }
  .textSwiper {
    padding-top: 0;
  }
  .ratingSwiper {
    display: flex;
  }
  .swiperPic > img {
    display: flex;

  }
  .swiperPic {
    justify-content: center;
    padding: 0;
  }
  .textSwiper_text p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }
  .textSwiper_text {
    padding: 0 0.5rem;
    gap: 8px;
    max-height: 220px;
  }
  .slider2-arrows {
    margin: 0;
  }
  .commentImg_dbMQ {
    display: flex;
    width: 51px;
    height: 42px;
  }
}