.promo {
  display: flex;
  z-index: -1;
  background: linear-gradient(129.34deg, #FECA57 56.78%, #E3AA2D 101.94%);
}

.promoImage {
  position: absolute;
  width: 100%;
  object-fit: contain;
}
.promo a{
  text-decoration: none;
}

.promo_wrapper {
  padding: 4.375rem 0;
  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.promoTitle {
  justify-content: center;
}

.promoTitle_sub {
  position: absolute;
  top: 288px;
  right: 400px;
}

.promoTitle_sub p, .promoTitle_sub1 p {
  font-family: 'Galada';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 117px;
  text-align: center;
  color: #FFFFFF;
}

.promoTitle_sub span {
  position: absolute;
  width: 100%;
}

.promoButton {
  width: 280px;
  height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.promoImage {
  display: flex;
  justify-content: center;
}

.promoImage_box {
  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
  }
}

.promoImage_bg {
  position: absolute;
  z-index: -1;
}

.promoImage_bg img {
  width: 100%;
}

.promoTitle_sub1 {
  display: none;
}

.promoImage_el13,.promoImage_el14,.promoImage_el15,.promoImage_el16,.promoImage_el17,.promoImage_el18{
  position: absolute;

}
.promoImage_v6,.promoImage_v7,.promoImage_v8,.promoImage_v9{
  position: absolute;
}
.promoImage_el13{top: 300px; left: 17%;}
.promoImage_el14{right: 15%; top: 564px;}
.promoImage_el15{right: 4%; top: 348px;}
.promoImage_el16{top: 614px;left: 8%;}
.promoImage_el17{top: 379px;left: 11%;}
.promoImage_el18{top: 363px;  right: 17%;}
.promoImage_v6{top: 520px;left: 13%;}
.promoImage_v7{top: 360px;left: 28%;}
.promoImage_v8{top: 650px;right: 28%;}
.promoImage_v9{top: 665px;right: 12%;}

  .promoImage_lineMQ{
  display: none;
}
.promoLine1, .promoLine2, .promoLine3, .promoLine4 {
  position: absolute;
}
.promoLine1 {
  left: 100px;
  top: 147px;
}
.promoLine2{
  left: 13px;
  top: 144px;
}
.promoLine3 {
  top: 146px;
  right: 124px;
}
.promoLine4 {
  top: 145px;
  right: 32px;
}
.promoImage_item1, .promoImage_item2, .promoImage_item3, .promoImage_item4 {
  position: absolute;
  top: 400px;
}

.promoImage_item1 img, .promoImage_item2 img, .promoImage_item3 img, .promoImage_item4 img {
  position: absolute;
  z-index: 1;
  width: 100%;
  object-fit: contain;
}


.promoImage_itemBox {
  position: absolute;
  top: 146px;
  width: 40%;
}
.promoImage_itemBox img {
  width: 100%;
  object-fit: contain;
}


.promoImage_item1 {
  width: 17%;
  left: 4%;
}

.promoImage_item1 img {
top: 10%;
}

.promoImage_item2 {
  width: 24%;
  left: 20%;
}

.promoImage_item2 img {
  top: -16%;
  left: -20%;
}

.promoImage_item3 {
  width: 30%;
  right: 3%;
}

.promoImage_item3 img {
  top: -27%;
  right: 20%;
}

.promoImage_item4 {
  width: 18%;
  right: 0%;
}

.promoImage_item4 img {
  top: 5%;
  right: 11%;
}

.babel {
  width: 150px;
  height: 150px;
  border-radius: 200px;
  border: #F5F5F6 solid 50px;
  background: linear-gradient(129.34deg, #FECA57 56.78%, #E3AA2D 101.94%);
  opacity: 0.2;
}

@media (max-width: 1680px) {
  .promo_wrapper {
    padding: 24px 0;
  }
  .promoTitle_sub{
    right: 344px;
  }
  .babel {
    width: 125px;
    height: 125px;
  }

}
@media (max-width: 1440px) {
  .promo_wrapper {
    height: 688px;
  }
  .babel {
    width: 100px;
    height: 100px;
  }
  .promoTitle_sub{
    top: 237px;
    right: 285px;
  }
  .promoImage_item1, .promoImage_item2, .promoImage_item3, .promoImage_item4 {
    top: 325px;
  }
  .promoImage_v6{top: 445px;}
  .promoImage_v7{top: 285px;}
  .promoImage_v8{top: 510px;}
  .promoImage_v9{top: 510px;}

  .promoImage_el13{top: 225px;}
  .promoImage_el14{top: 490px;}
  .promoImage_el15{top: 275px;}
  .promoImage_el16{top: 550px;}
  .promoImage_el17{top: 300px;}
  .promoImage_el18{top: 290px;}
  }
@media (max-width: 1367px) {
  .promo_wrapper {
    height: 570px;
  }
  .promoTitle_sub p {
    font-size: 56px;
    line-height: 56px;
  }
  .promoTitle h1 {
    font-size: 74px;
    line-height: 74px;
  }
  .promoImage_v6{top: 355px;}
  .promoImage_v7{top: 285px;}
  .promoImage_v8{top: 465px;}
  .promoImage_v9{top: 465px;}
}

@media (max-width: 1280px) {
  .promo_wrapper {
    height: 580px;
  }
  .babel {
    width: 55px;
    height: 55px;
  }
  .promoTitle_sub {
    right: 213px;
  }

}

@media (max-width: 1024px) {
  .promo_wrapper {
    padding: 10px 0;
    height: 500px;
  }
  .promoTitle_sub {
    top: 227px;
    right: 266px;
  }
  .babel {
    width: 40px;
    height: 40px;
  }
  .promoImage_item1, .promoImage_item2, .promoImage_item3, .promoImage_item4 {
    top: 200px;
  }
  .promoImage_v6,.promoImage_v7,.promoImage_v8,.promoImage_v9{
    display: none;
  }
    .promoImage_el13{top: 100px;}
  .promoImage_el14{top: 285px;}
  .promoImage_el15{top: 100px;}
  .promoImage_el16{top: 315px;}
  .promoImage_el17{top: 170px;}
  .promoImage_el18{top: 115px;}
  }

@media (max-width: 768px) {
  .promo_wrapper {
    height: 375px;
  }
  .promoTitle_sub p {
    font-size: 37px;
    line-height: 37px;
  }
  .promoTitle h1 {
    font-size: 47px;
    line-height: 47px;
  }
  .promoTitle_sub {
    top: 191px;
    right: 179px;
  }
  .babel {
    width: 10px;
    height: 10px;
  }
  .promoImage_itemBox {
    top: 60px;
  }
}


  //.promoImage_item1, .promoImage_item2, .promoImage_item3, .promoImage_item4 {
  //  top: 145px;
  //}

@media (max-width: 666px) {
    .promoImage_itemBox {
        width: 64%;
        left: 17%;
        top: 106px;
      }
    .promoTitle_sub{
      display: none;
    }
  }


@media (max-width: 666px) {
  .promo {
    background: linear-gradient(129.34deg, #feca57 56.78%, #e3aa2d 101.94%);
  }
  .promoImage_bg, .promoTitle_sub,.promoImage_el13,.promoImage_el14,.promoImage_el15,.promoImage_el16,.promoImage_el17,.promoImage_el18{
    display: none;
  }
  .promoTitle_sub1 {
    display: flex;
  }
  .promoTitle_sub1 p {
    font-size: 26px;
    line-height: 26px;
  }
  .promoTitle h1 {
    font-size: 24px;
    line-height: 24px;
  }
  .promo_wrapper {
    height: 448px;
  }
  .promoButton {
    width: 288px;
    height: 60px;
  }

  .babel {
    width: 5px;
    height: 5px;
    border: #F5F5F6 solid 30px;
  }
  .promoImage_item1, .promoImage_item2, .promoImage_item3, .promoImage_item4 {
    top: 74px;
  }
  .promoImage_item1 img {
    top: 11px;
    right: -5px;
  }

  .promoImage_item2 {
    left: inherit;
    right: 25%;
    width: 72px;
    height: 74px;
  }
  .promoImage_item3 {
    right: inherit;
    left: 25%;
    width: 60px;
    height: 70px;
  }
  .promoImage_item1 {
    left: 1%;
  }
    .promoImage_item2 img {
      top: -3px;
      right: -4px;
      width: 120%;
  }
  .promoImage_item3 img {
    width: 204%;
    top: -16%;
    left: -40%;
  }
  .promoImage_lineMQ{
    display: flex;
  }


  .promoImage_item4 {
    right: 1%;
    width: 65px;
    height: 70px;
  }
  .promoImage_item4 img {
    width: 65px;
    height: 70px;
  }
}
@media (max-width: 426px) {
  .promoImage_itemBox {
    width: 93%;
    left: 0%;
    top: 130px;
  }
}