.promo {
  display: flex;
  z-index: -1;
  background: linear-gradient(129.34deg, #FECA57 56.78%, #E3AA2D 101.94%);
}

.promoImage {
  position: absolute;
  width: 100%;
  object-fit: contain;
}

.promo a {
  text-decoration: none;
}

.promo_wrapper {
  padding: 4.375rem 0;
  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.promoTitle {
  justify-content: center;
}

.promoTitle_sub {
  position: absolute;
  top: 300px;
  right: 502px;
}

.promoTitle_sub p, .promoTitle_sub1 p {
  font-family: 'Galada';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 92px;
  text-align: center;
  color: #FFFFFF;
}

.promoTitle_sub span {
  position: absolute;
  width: 84%;
}

.promoButton {
  width: 280px;
  height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.promoImage {
  display: flex;
  justify-content: center;
}
.promoImage_scroll{
  position: absolute;
  top: 800px;
  left: 19%;
}
.promoImage_box {
  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
  }
}

.promoImage_bg {
  position: absolute;
  z-index: -1;
}

.promoImage_bg img {
  width: 100%;
}

.promoTitle_sub1 {
  display: none;
}

.promoImage_el13, .promoImage_el14, .promoImage_el15, .promoImage_el16, .promoImage_el17, .promoImage_el18 {
  position: absolute;
  z-index: 1;

}

.promoImage_v6, .promoImage_v7, .promoImage_v8, .promoImage_v9 {
  position: absolute;
}

.promoImage_el13 {
  top: 280px;
  left: 14%;
}

.promoImage_el13 img {
  width: 66px;
  height: 66px;
}

.promoImage_el14 {
  right: 12%;
  top: 564px;
}

.promoImage_el15 {
  right: 1%;
  top: 340px;
}

.promoImage_el16 {
  top: 585px;
  left: 4%;
}

.promoImage_el17 {
  top: 370px;
  left: 5%;
}

.promoImage_el18 {
  top: 320px;
  right: 14%;
}

.promoImage_v6 {
  top: 467px;
  left: 10%;
}

.promoImage_v7 {
  top: 360px;
  left: 28%;
}

.promoImage_v8 {
  top: 645px;
  right: 22%;
}

.promoImage_v9 {
  top: 645px;
  right: 6%;
}

.promoImage_lineMQ {
  display: none;
}

.promoLine1, .promoLine2, .promoLine3, .promoLine4 {
  position: absolute;
}

.promoLine1 {
  left: 130px;
  top: 180px;
}

.promoLine2 {
  left: 10px;
  top: 181px;
}

.promoLine3 {
  top: 172px;
  right: 97px;
}

.promoLine4 {
  top: 170px;
  right: 3px;
}
.promoTitle h1{
  color: #212121;
}
.promoImage_item1, .promoImage_item2, .promoImage_item3, .promoImage_item4 {
  position: absolute;
  top: 375px;
}

.promoImage_item1MB, .promoImage_item2MB, .promoImage_item3MB, .promoImage_item4MB {
  position: absolute;
  top: 100px;
  display: none;
  width: 75px;
  height: 70px;
}
.promoImage_item1MB img, .promoImage_item2MB img {
  position: absolute;
  z-index: 1;
  width: 100%;
  object-fit: contain;
}
.promoImage_item1MB {
  left: 3%;
}

.promoImage_item2MB {
  left: 27%;
}

.promoImage_item3MB {
  right: 25%;
}
.promoImage_item3MB img,.promoImage_item4MB img{
  width: 80%;
  position: absolute;
  z-index: 1;
  object-fit: contain;
}

.promoImage_item4MB {
  right: 0;
}

.promoImage_item1 img, .promoImage_item2 img, .promoImage_item3 img {
  position: absolute;
  z-index: 1;
  width: 100%;
  object-fit: contain;
}


.promoImage_itemBox {
  position: absolute;
  top: 146px;
  width: 47%;
}

.promoImage_itemBox img {
  width: 100%;
  object-fit: contain;
}


.promoImage_item1 {
  width: 18%;
  left: 2%;
}

.promoImage_item1 img {
  left: -14%;
}

.promoImage_item2 {
  width: 32%;
  left: 17%;
}

.promoImage_item2 img {
  top: -46%;
  left: -29%;
}

.promoImage_item3 {
  width: 30%;
  right: 0%;
}

.promoImage_item3 img {
  top: -41%;
  right: 24%;
}

.promoImage_item4 {
  right: 1%;
}

.promoImage_item4 img {
  position: absolute;
  z-index: 1;
  object-fit: cover;
  width: 200px;
  height: 260px;
  bottom: 20px;
  right: 38px;
}

.babel {
  width: 150px;
  height: 150px;
  border-radius: 200px;
  border: #F5F5F6 solid 50px;
  background: linear-gradient(129.34deg, #FECA57 56.78%, #E3AA2D 101.94%);
  opacity: 0.2;
}

@media (max-width: 1680px) {

  .promoImage_scroll{
    top: 708px;
  }
  .promo_wrapper {
    padding: 24px 0;
  }
  .promoTitle_sub {
    right: 344px;
  }
  .babel {
    width: 125px;
    height: 125px;
  }
  .promoImage_item4 img {
    height: 220px;
  }
  .promoImage_item3 {
    right: 2%;
  }
  .promoImage_item2 {
    left: 18%;
  }

}

@media (max-width: 1440px) {
  .promoImage_scroll{
    top: 600px;
  }
  .promoImage_itemBox {
    width: 40%;
  }
  .promo_wrapper {
    height: 688px;
  }
  .babel {
    width: 100px;
    height: 100px;
  }
  .promoTitle_sub {
    top: 237px;
    right: 285px;
  }
  .promoImage_item2 img {
    top: -35%;
  }
  .promoImage_item2 {
    left: 20%;
  }
  .promoImage_item4 img {
    height: 185px;
    right: 10px;
  }
  .promoImage_item3 img {
    top: -28%;
    right: 19%;
  }
  .promoImage_item3 {
    right: 3%;
  }
  .promoImage_v7 {
    top: 208px;
  }
  .promoImage_v6 {
    top: 285px;
  }
  .promoImage_v8 {
    top: 445px;
    right: 23%;
  }
  .promoImage_v9 {
    top: 430px;
    right: 4%;
  }
  .promoImage_item1, .promoImage_item2, .promoImage_item3, .promoImage_item4 {
    top: 255px;
  }
  .promoImage_el13 {
    top: 170px;
  }
  .promoImage_el14 {
    top: 395px;
  }
  .promoImage_el15 {
    top: 240px;
  }
  .promoImage_el16 {
    top: 415px;
  }
  .promoImage_el17 {
    top: 300px;
  }
  .promoImage_el18 {
    top: 230px;
  }
}

@media (max-width: 1367px) {
  .promoImage_scroll{
display: none;
  }
  .promo_wrapper {
    height: 570px;
  }
  .promoTitle_sub p {
    font-size: 56px;
    line-height: 56px;
  }
  .promoTitle h1 {
    font-size: 74px;
    line-height: 74px;
  }
}

@media (max-width: 1280px) {
  .promoImage_scroll{
    display: flex;
    top: 495px;
  }
  .promo_wrapper {
    height: 580px;
  }
  .babel {
    width: 55px;
    height: 55px;
  }
  .promoTitle_sub {
    right: 213px;
  }
  .promoImage_item4 img {
    height: 145px;
    right: -10px;
  }
  .promoImage_v6, .promoImage_v7, .promoImage_v8, .promoImage_v9 {
    display: none;
  }

}

@media (max-width: 1024px) {
  .promoImage_scroll{
    top: 380px;
  }
  .promo_wrapper {
    padding: 10px 0;
    height: 500px;
  }
  .promoTitle_sub {
    top: 227px;
    right: 266px;
  }
  .babel {
    width: 30px;
    height: 30px;
  }
  .promoImage_item1, .promoImage_item2, .promoImage_item3, .promoImage_item4 {
    top: 200px;
  }
  .promoImage_v6, .promoImage_v7, .promoImage_v8, .promoImage_v9 {
    display: none;
  }
  .promoImage_item1 img {
    left: 0;
  }
  .promoImage_item2 img {
    left: -24%;
  }
  .promoImage_item3 {
    right: 6%;
  }
  .promoImage_itemBox {
    width: 35%;
    top: 185px;
  }
  .promoImage_item4 img {
    width: 100px;
    height: 110px;
    right: 23px;
  }
  .promoImage_el13 {
    top: 100px;
  }
  .promoImage_el14 {
    top: 285px;
  }
  .promoImage_el15 {
    top: 100px;
  }
  .promoImage_el16 {
    top: 315px;
  }
  .promoImage_el17 {
    top: 170px;
  }
  .promoImage_el18 {
    top: 184px;
  }
}

@media (max-width: 768px) {
  .promoImage_scroll{
display: none;
  }
  .promo_wrapper {
    height: 375px;
  }
  .promoTitle_sub p {
    font-size: 37px;
    line-height: 37px;
  }
  .promoTitle h1 {
    font-size: 47px;
    line-height: 47px;
  }
  .promoTitle_sub {
    top: 191px;
    right: 179px;
  }
  .babel {
    width: 10px;
    height: 10px;
  }
  .promoImage_itemBox {
    top: 124px;
  }
  .promoImage_item1, .promoImage_item2, .promoImage_item3, .promoImage_item4 {
    top: 150px;
  }
}


@media (max-width: 666px) {
  .promoImage_itemBox {
    width: 64%;
    left: 17%;
    top: 106px;
  }
  .promoTitle_sub {
    display: none;
  }
}


@media (max-width: 666px) {
  .promo {
    justify-content: center;
    background: linear-gradient(129.34deg, #feca57 56.78%, #e3aa2d 101.94%);
  }
  .promoImage{
    max-width: 320px;
  }
  .promoImage_item1, .promoImage_item2, .promoImage_item3, .promoImage_item4 {
    display: none;
  }
  .promoImage_item1MB, .promoImage_item2MB, .promoImage_item3MB, .promoImage_item4MB {
    display: flex;
  }
  .promoImage_bg, .promoTitle_sub, .promoImage_el13, .promoImage_el14, .promoImage_el15, .promoImage_el16, .promoImage_el17, .promoImage_el18 {
    display: none;
  }
  .promoImage_el17,.promoImage_el18{
    display: flex;
  }
  .promoImage_el18 {
    top: 205px;
    right: 34%;
    z-index: 0;
  }
  .promoImage_el17 {
    top: 216px;
    left: 14%;
  }
  .promoTitle_sub1 {
    display: flex;
  }
  .promoTitle_sub1 p {
    font-size: 26px;
    line-height: 42px;
  }
  .promoTitle h1 {
    font-size: 32px;
    line-height: 32px;
  }
  .promo_wrapper {
    height: 448px;
    padding: 20px 0;
  }
  .promoButton {
    width: 288px;
    height: 60px;
  }
  .promoImage_lineMQ {
    display: flex;
  }
  .babel {
    width: 36px;
    height: 36px;
    border: #F5F5F6 solid 15px;
  }
  .promoImage_itemBox {
    width: inherit;
    left: 0%;
    top: 171px;
    display: flex;
    justify-content: center;
  }
  .promoImage_itemBox img{
    width: 320px;
  }
}

@media (max-width: 426px) {

}