<div class="blockStep">
    <div class="blockStep_box">
        <div class="stepsPic">
            <img src="/assets/images/traces.png"/>
        </div>
        <div class="stepsText">
            <div class="blockStep_line">
                <img src="/assets/images/steps/Im_line.png"/>
            </div>
            <div class="stepsText_our">
                <div class="zigzag"><img src="/assets/images/zigzag.png"/></div>
                <p>OUR MISSION</p>
            </div>
            <h1>We are here to help you live greener and more sustainably</h1>
            <p class="stepCaption">Small steps matter </p>
        </div>
    </div>
</div>