<div class="blockGallery">
  <div class="blockGallery_container">
    <div class="gridText">
      <p>Join the conversation an help us create a new world!</p>
      <h2>Recent Posts</h2>
    </div>
    <div class="gridGallery">
      <div class="gridGallery_two">
        <div class="squarePic"><img src="/assets/images/gallery/1.png"/></div>
        <div class="squarePic"><img src="/assets/images/gallery/2.png"/></div>
      </div>
      <div class="gridGallery_two">
        <div class="squarePic"><img src="/assets/images/gallery/3.png"/></div>
        <div class="squarePic"><img src="/assets/images/gallery/4.png"/></div>
      </div>
      <div class="gridGallery_one">
        <div class="squarePicBig"><img src="/assets/images/gallery/5.png"/></div>
      </div>
      <div class="gridGallery_double">
        <div class="squarePic"><img src="/assets/images/gallery/6.png"/></div>
        <div class="squarePic"><img src="/assets/images/gallery/7.png"/></div>
      </div>
    </div>
  </div>
</div>