<div class="boxMonth">
    <div class="boxMonth_wrapper">
        <a href="#" class="boxMonthInfo_buttonMQ">
            <div class="button"><h4>See What's Inside</h4></div>
        </a>
        <div class="boxImage">
            <div class="boxMonthDesignImage">
                <div class="boxMonthDesignImage_elTop">
                    <img src="/assets/images/Ellipse 18.png"/>
                </div>
                <div class="boxMonthDesignImage_stuff">
                    <img src="/assets/images/stuff.png"/>
                </div>
            </div>
            <div class="boxImage_one" style="z-index: 1">
                <img src="/assets/images/Im_8.png"/>
            </div>
            <div class="boxImage_one">
                <img src="/assets/images/Im_9.png"/>
            </div>
            <div class="boxMonthDesignImage_elBot">
                <img src="/assets/images/Ellipse 19.png"/>
            </div>
            <div class="boxMonthDesignImage_elBotMQ">
                <img src="/assets/images/Ellipse 17.png"/>
            </div>
        </div>
        <div class="boxMonthInfo">
            <div class="boxMonthInfo_title">
                <div class="zigzag"><img src="/assets/images/zigzag.png"/></div>
                <h2>BOX OF A MONTH</h2>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            <a href="#" class="boxMonthInfo_button">
                <div class="boxMonthDesignImage_leaf">
                    <img src="/assets/images/Monstera leaf.png"/>
                </div>
                <div class="button"><h4>See What's Inside</h4></div>
            </a>
        </div>
    </div>
</div>