<div class="getBox" xmlns="http://www.w3.org/1999/html">
    <div class="getBox_wrapper">
        <div><h2>How it Works</h2></div>
        <div class="threeGrid">
            <div class="threeGrid_item">
                <div class="picItem">
                    <img src="/assets/images/Three.png"/>
                </div>
                <div class="infoItem">
                    <h4> Join The Movement </h4>
                    <p>Get started by signing up for monthly subscription. We bring you an easy way to start your zero-waste journey</p>
                </div>
            </div>
            <div class="threeGrid_mediaLine">
                <div class="gridLine"></div>
                <div class="zigzag"><img src="/assets/images/zigzag.png"/></div>
                <div class="gridLine"></div>
            </div>
            <div class="threeGrid_item">
                <div class="picItem">
                    <img src="/assets/images/Two.png"/>
                </div>
                <div class="infoItem">
                    <h4> Get Your Box </h4>
                    <p>Every month receive your box with essential products, but plastic free and safe for the environment</p>
                </div>
            </div>
            <div class="threeGrid_mediaLine">
                <div class="gridLine"></div>
                <div class="zigzag"><img src="/assets/images/zigzag.png"/></div>
                <div class="gridLine"></div>
            </div>
            <div class="threeGrid_item">
                <div class="picItem">
                    <img src="/assets/images/One.png"/>
                </div>
                <div class="infoItem">
                    <h4> Make a Difference </h4>
                    <p>Small steps can lead to bigger changes, and now you are the change. Let's build community of people who care</p>
                </div>
            </div>
        </div>
        <div class="getBoxBtn"><div class="button"><h4>Get the Box</h4></div></div>
    </div>
</div>