<div class="promo">
    <div class="promoImage">
        <div class="promoImage_bg"><img src="/assets/images/promo/bgPromo.png"/></div>
        <div class="promoImage_lineMQ">
            <div class="promoLine1"><img src="/assets/images/promo/Im_line (1).png"/></div>
            <div class="promoLine2"><img src="/assets/images/promo/Im_line.png"/></div>
            <div class="promoLine3"><img src="/assets/images/promo/Im_line (2).png"/></div>
            <div class="promoLine4"><img src="/assets/images/promo/Im_line (3).png"/></div>
        </div>
        <div class="promoImage_item1"><img src="/assets/images/promo/Im_2.png"/><div class="babel"></div></div>
        <div class="promoImage_item2"><img src="/assets/images/promo/Im_3.png"/><div class="babel"></div></div>
        <div class="promoImage_itemBox"><img src="/assets/images/promo/Image_1.png"/></div>
        <div class="promoImage_item3"><img src="/assets/images/promo/Im_4.png"/><div class="babel"></div></div>
        <div class="promoImage_item4"><img src="/assets/images/promo/Im_5.png"/><div class="babel"></div></div>
    </div>
    <div class="promo_wrapper">
        <div class="promoTitle">
            <h1>Everything You Need</h1>
            <div class="promoTitle_sub">
                <p>to Start Living</p>
                <p><span>Zero-Waste</span></p>
            </div>
            <div class="promoTitle_sub1">
                <p>to Start Living Zero-Waste</p>
            </div>
        </div>
        <div class="promoButton">
            <div class="button"><h4>Start Now</h4></div>
        </div>
    </div>
</div>