<div class="promo">
    <div class="promoImage">
        <div class="promoImage_bg"><img src="/assets/images/promo/bgPromo.png"/></div>
        <div class="promoImage_el13"><img src="/assets/images/Ellipse 13.png"/></div>
        <div class="promoImage_el14"><img src="/assets/images/Ellipse 14.png"/></div>
        <div class="promoImage_el15"><img src="/assets/images/Ellipse 15.png"/></div>
        <div class="promoImage_el16"><img src="/assets/images/Ellipse 16.png"/></div>
        <div class="promoImage_el17"><img src="/assets/images/Ellipse 17.png"/></div>
        <div class="promoImage_el18"><img src="/assets/images/Ellipse 18.png"/></div>

        <div class="promoImage_v6"><img src="/assets/images/promo/Vector 6.png"/></div>
        <div class="promoImage_v7"><img src="/assets/images/promo/Vector 7.png"/></div>
        <div class="promoImage_v8"><img src="/assets/images/promo/Vector 8.png"/></div>
        <div class="promoImage_v9"><img src="/assets/images/promo/Vector 9.png"/></div>


        <div class="promoImage_lineMQ">
            <div class="promoLine1"><img src="/assets/images/promo/Im_line (1).png"/></div>
            <div class="promoLine2"><img src="/assets/images/promo/Im_line.png"/></div>
            <div class="promoLine3"><img src="/assets/images/promo/Im_line (2).png"/></div>
            <div class="promoLine4"><img src="/assets/images/promo/Im_line (3).png"/></div>
        </div>
        <div class="promoImage_item1"><img src="/assets/images/promo/Im_2.png"/><div class="babel"></div></div>
        <div class="promoImage_item2"><img src="/assets/images/promo/Im_3.png"/><div class="babel"></div></div>
        <div class="promoImage_itemBox"><img src="/assets/images/promo/Image_1.png"/></div>
        <div class="promoImage_item3"><img src="/assets/images/promo/Im_4.png"/><div class="babel"></div></div>
        <div class="promoImage_item4"><img src="/assets/images/promo/Im_5.png"/><div class="babel"></div></div>

        <div class="promoImage_item1MB"><img src="/assets/images/promo/MB1.png"/><div class="babel"></div></div>
        <div class="promoImage_item2MB"><img src="/assets/images/promo/MB2.png"/><div class="babel"></div></div>
        <div class="promoImage_item3MB"><img src="/assets/images/promo/MB3.png"/><div class="babel"></div></div>
        <div class="promoImage_item4MB"><img src="/assets/images/promo/MB4.png"/><div class="babel"></div></div>

    </div>
    <div class="promo_wrapper">
        <div class="promoTitle">
            <h1>Everything You Need</h1>
            <div class="promoTitle_sub">
                <p>to Start Living<br><span>Zero-Waste</span></p>
                <p></p>
            </div>
            <div class="promoTitle_sub1">
                <p>to Start Living Zero-Waste</p>
            </div>
        </div>
        <a href="#" class="promoButton">
            <div class="button"><h4>Start Now</h4></div>
        </a>
    </div>
</div>